.fichas_tablero{
    width: 50px;
    height: 50px;
}

.board{
    border: 1px solid black;
}
.casilla{
    border: 1px solid black;
}

.cuadro{
    border: ridge;
    background-color: rgb(200, 215, 218);
}

a{
    color: black;
    text-decoration:none;
}


footer{
    border: ridge;
}

.foot{
    
    width: 100%;
    font-size: 120%;
    text-align: center;
    background-color: rgb(200, 215, 218);
}