{% load staticfiles %}
<html>
<head>
    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    {% endblock extra_css %}

    {% block extra_js %}
    {% endblock extra_js %}

    {% block extra_head %}
    
    {% endblock extra_head %}
    <title>{% block title %}PSI: Extraordinario{% endblock %}</title>
</head>

<body id="body">
    <div id="totalheader">
        <div id="title">
            {% block atitle %}
                <h1>Juego del Ratón y el gato</h1>             
            {% endblock atitle %}
        </div>
        {% if request.user.is_authenticated %}
            User: <span class="username">{{ request.user.username }}</span>
        {% endif %}
    </div>

    
<div class="cuadro">
    {% block content %}
    {% endblock content %}


    {% block footer %}
    {% endblock footer %}
</div>


    
</body>

<footer class="foot">
        <p>Antonio Javier Casado</p>
</footer>
</html>
