{% load staticfiles %}
<html>
<head>
    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock extra_css %}

    {% block extra_js %}
    {% endblock extra_js %}

    {% block extra_head %}
    
    {% endblock extra_head %}
    <title>{% block title %}PSI: Extraordinario{% endblock %}</title>
</head>

<body id="body">
    
    <div id="totalheader">
        <div id="title">
            {% block atitle %}
                <a href="{% url 'index' %}" class="titulo">Ratón vs. Gato</a>
            {% endblock atitle %}
        </div>
        {% if request.user.is_authenticated %}
            <span class="username">{{ request.user.username }}</span>
        {% endif %}
    </div>

        
    <div class="contenido">
        {% block content %}
        {% endblock content %}


        {% block footer %}
        {% endblock footer %}
    </div>


    
</body>

</html>
