{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}

<script src= "{% static 'js/tablero.js' %}"></script>

<div id="num-juego">
    <p>Game: <b>{{ game.id }}</b></p>
</div>
<a href="{% url 'select_game' %}">Volver</a>

<div class="content-game">
    <div class="tablero-izq">
        
        <div id="tablero">
            {% if board %}
            <table id="chess_board">
            {% for item in board %}
                {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
                <td ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)" id="{{forloop.counter0}}" style='width:50px;height:50px;border:1px solid #000000;text-align:center;'>
                    {% if item ==  0 %}
                    {% elif item == 1 %}  
                        <img src="{% static 'images/gato_tablero.png' %}" id="{{forloop.counter0}}" class='fichas_tablero' alt='gato' draggable="true">
                    {% else %}  
                        <img src="{% static 'images/raton_tablero.png' %}" id="{{forloop.counter0}}" class='fichas_tablero' alt='gato' draggable="true">
                    {% endif %}
                </td>
                {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
            {% endfor %}
            </table>
        {% endif %}
        </div>
    
    </div>
    
    <div class="info-juego">

        <!--<form id="move_form" method="post" action="{% url 'move' %}">-->
            {% csrf_token %}
           <div id="inf-jug-cat">
            <p >
                Cats: <b>{{ game.cat_user.username }}</b>
                {% if game.cat_turn %}

                    {% if game.cat_user.id == request.user.id %}
                        {{ move_form }}
                        <!--<input type="submit" value="Move" />-->
                        <p class="tu_turno">Es tu turno</p>
                    {% else %}
                        <br>
                        Waiting for the cat...
                    {% endif %}

                {% endif %}

                <!--
                {% if game.cat_user.id == request.user.id %}

                    {% if game.cat_turn %}
                        {{ move_form }}
                       
                        <p>Es tu turno</p>
                    {% else %}
                        Waiting for the mouse...
                        
                    {% endif %}

                {% endif %}-->
            </p>
           </div>
          
            <div id="inf-jug-mouse">
                <p>
                    Mouse: <b>{{ game.mouse_user.username }}</b>
                    {% if not game.cat_turn %}
                        {% if game.mouse_user.id == request.user.id %}
                            {{ move_form }}
                            <!--<input type="submit" value="Move" />-->
                            <p class="tu_turno">Es tu turno</p>
                        {% else %}
                            <br>
                            Waiting for the mouse...
                        {% endif %}
                    {% endif %}

                    <!--
                    {% if game.mouse_user.id == request.user.id %}
                      
                        {% if not game.cat_turn %}
                            {{ move_form }}
                           
                            <p>Es tu turno</p>
                        {% else %}
                            Waiting for the cat...
                        {% endif %}
    
                    {% endif %}-->
                </p>
            </div>
            
           
        <!--</form>-->
    </div>

    {{msg_error}}

</div>
{% endblock content %}