{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}

<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
  var x = document.getElementById("miBar");
  if (x.className === "bar") {
    x.className += " responsive";
  } else {
    x.className = "bar";
  }
} 
</script>

<div class="bar" id="miBar"> 
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'vsIA' %}">Jugar VS IA</a>     
    <a href="{% url 'create_game' %}">Crear Partida</a>
    <a href="{% url 'join_game' %}">Unirse a Partida</a>
    <a href="{% url 'select_game' %}">Seleccionar Partida</a>
    <a href="{% url 'show_game' %}">Continuar última partida</a>
    <a href="{% url 'repeticion' %}">Repetición partida</a>

    
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
</div>
<div class="raton_mamao">
  <img src="{% static 'images/gatomamao.png' %}" class="tablero-index" alt="index-img">
</div>

{% endblock content %}