{% extends "mouse_cat/base.html" %}
{% load staticfiles %}
{% block content %}

<script src= "{% static 'js/join.js' %}"></script>

<div id="content">
    <h1>Unirse a partida como Ratón</h1>
    {% if msg_error %}

        <p class="error">ERROR: {{ msg_error }}</p>
    {% else %}
        {% for game in partidas_disp %}
            <div class="tarjeta_join" id="tarjeta_join_{{game.id}}">
                <table class="tabla_join">
                    <tr>
                        <th>GameId</th>
                        <th>Oponente</th>
                    </tr>
                    <tr>
                        <th>{{ game.id }}</th>
                        <th>{{ game.cat_user }}</th>
                    </tr>
                </table>

                <div class="div_btn_join">

                    <a class="boton_entrar" id="boton_entrar_{{ game.id}}" onclick="joinFunction({{ game.id }})"> 
                        Entrar
                    </a>
                    <div>
                        <p hidden class="join_succes" id="join_succes_{{game.id}}">Te has unido </p>
                    </div>

                    <div class="div_btn_jugar">
                        <a hidden class="btn_jugar" id="btn_jugar_{{ game.id}}" href="{% url 'select_game' game.id %}">Jugar</a>
                    </div>
                </div>
            </div>            
        {% endfor %}

        <!--<p><b>{{ game.mouse_user.username }}</b> succesfully joined to game <b>{{ game.id }}</b>. The game can start!!!</p>-->
    {% endif %}
    <a class="return_btn" href="{% url 'landing' %}">Return to homepage</a>
</div>
{% endblock content %}