{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="content">
    <h1>Jugar contra el ordenador</h1>


    {% if vs_ia %}
    <table id="tabla_gamesia">
        <tr>
            <th>GameID</th>
            <th>Turno</th>
            
        </tr>
        {% for game in vs_ia %}
            <tr>
                <th>{{ game.id }}</th>
                <th>{% if game.cat_turn %}
                    <span class="tu_turno">TU TURNO</span>
                    {% else %}
                        Esperando Oponente
                    {% endif %}
                </th>
                <th class="th_entrar" ><a class="boton_entrar_ia" href="{% url 'select_game' game.id %}">Entrar</a></th>
            </tr>
            {% endfor %}
    </table>
    {%  else %}
        No hay juegos vs IA
    {% endif %}

    <div id="crear_ia">
        <a class="boton_entrar" href="{% url 'crearvsIA' %}">Crear nueva partida vs IA</a>
    </div>
    <a class="return_btn" href="{% url 'landing' %}">Return to homepage</a>
</div>
{% endblock content %}