{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content">
    <h1>Login</h1>
    Log in to continue:
    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ user_form.as_p }}<br/>
        <input type="hidden" name="return_service" value="{{ return_service }}" />
        <input class="login_input" type="submit" value="Log-In" />
    </form>
    
    <a class="return_btn" href="{% url 'landing' %}">Volver</a>
</div>

<p class="error">{{return_service}}</p>
{% endblock content %}
