{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}

<script src= "{% static 'js/tablero_rep.js' %}"></script>

<div id="num-juego">
    <p>Game: <b>{{ game.id }}</b></p>
</div>
<a href="{% url 'select_game' %}">Volver</a>

<div class="content-game">
    <div class="tablero-izq">
        
        <div id="tablero">
            {% if board %}
            <table id="chess_board">
            {% for item in board %}
                {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
                <td id="{{forloop.counter0}}" style='width:50px;height:50px;border:1px solid #000000;text-align:center;'>
                    {% if item ==  0 %}
                    {% elif item == 1 %}  
                        <img src="{% static 'images/gato_tablero.png' %}" id="gato{{forloop.counter0}}" class='fichas_tablero' alt='gato' draggable="true">
                    {% else %}  
                        <img src="{% static 'images/raton_tablero.png' %}" id="raton{{forloop.counter0}}" class='fichas_tablero' alt='gato' draggable="true">
                    {% endif %}
                </td>
                {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
            {% endfor %}
            </table>
        {% endif %}
        </div>

        <div class="botones_rep">
            <p><button onclick="getMovimiento(-1)">Anterior</button></p>
            <p><button id="start" onclick="play(this.id)">Play</button></p>
            <p><button onclick="getMovimiento(1)">Siguiente</button></p>
        </div>
        
    </div>
    
    <div class="info-juego">

            {% csrf_token %}
            <div id="inf-jug-cat">
            <p>
                Cats: <b>{{ game.cat_user.username }}</b>

                {% if game.status == 2 %}
                    {% if game.cat_turn %}

                        {% if game.cat_user.id == request.user.id %}
                            {{ move_form }}
                            <!--<input type="submit" value="Move" />-->
                            <p class="tu_turno">Es tu turno</p>
                            <p hidden class="error" id="mal_mov">Movimiento inválido</p>
                        {% else %}
                            <br>
                            Waiting for the cat...
                        {% endif %}
                    {% endif %}
                {% else %}

                {% if game.status == 3 %}

                    {% if game.cat_user.id == request.user.id %}
                        {% if game.ganador == 1 %}
                            <br>HAS GANADO!
                        {% else %}
                            <br> HAS PERDIDO
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% endif %}
                   
            </p>
           </div>
          
            <div id="inf-jug-mouse">
                <p>
                    Mouse: <b><br>
                    {% if game.es_AI %}
                        <img src="{% static 'images/IA-icon.png' %}" class="icono-ia-game" alt="IA">
                    {% else %}
                        {{ game.mouse_user }}
                    {% endif %}</b>

                    {% if game.status == 2 %}
                        {% if not game.cat_turn %}
                            {% if game.mouse_user.id == request.user.id %}
                                {{ move_form }}
                                <!--<input type="submit" value="Move" />-->
                                <p class="tu_turno">Es tu turno</p>
                                <p hidden class="error" id="mal_mov">Movimiento inválido</p>
                            {% else %}
                                <br>
                                Waiting for the mouse...
                            {% endif %}
                        {% endif %}

                    {% else %}
                        {% if game.status == 3 %}
                            {% if game.mouse_user.id == request.user.id %}
                                {% if game.gandor == 2 %}
                                    <br>HAS GANADO
                                {% else %}
                                    <br>HAS PERDIDO
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    {% endif %}
                </p>
            </div>
    </div>

</div>
{% endblock content %}