{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}


<h1>Partidas finalizadas</h1>
<div class="content-select-game">

    <div id="games_as_cat">
        <h2>Como gato</h2>
            {% if as_cat %}
            <table id="tabla_games">
                <tr>
                    <th>GameID</th>
                    <th>Ganador</th>
                    <th>Oponente</th>
                    
                </tr>
                {% for game in as_cat %}
                    <tr>
                        <th>{{ game.id }}</th>
                        <th>
                            {% if game.ganador == 1 %}
                            <span class="ganador">Ganaste</span>
                            {% else %}
                            <span class="perdedor">Perdiste</span>
                            {% endif %}
                        </th>
                        <th class="tabla-oponente">
                            {% if game.es_AI %}
                                <img src="{% static 'images/IA-icon.png' %}" class="icono-ia" alt="IA">
                            {% else %}
                                {{ game.mouse_user }}
                            {% endif %}

                        </th>
                        <th><a class="btn_ver_rep" href="{% url 'repeticion' game.id %}">Ver repeticion</a></th>
                    </tr>
                    {% endfor %}
            </table>

            {%  else %}
                No games as cat
            {% endif %}
        
    </div>

   <div id="games_as_mouse">       
    <h2>Como Ratón</h2>
    
    {% if as_mouse %}
    <table id="tabla_games">
        <tr>
            <th>GameID</th>
            <th>Ganador</th>
            <th>Oponente</th>
            
        </tr>
        {% for game in as_mouse %}
            <tr>
                <th>{{ game.id }}</th>
                <th>
                    {% if game.ganador == 2%}
                    <span class="ganador">Ganaste</span>
                    {% else %}
                    <span class="perdedor">Perdiste</span>
                    {% endif %}
                </th>
                <th class="tabla-oponente">
                    {% if game.es_AI %}
                        <img src="{% static 'images/IA-icon.png' %}" class="icono-ia" alt="IA">
                    {% else %}
                        {{ game.cat_user }}
                    {% endif %}
                </th>
                <th><a class="btn_ver_rep" href="{% url 'repeticion' game.id %}">Ver repeticion</a></th>
            </tr>
            {% endfor %}
    </table>
    {%  else %}
        No games as mouse
    {% endif %}
   </div>
</div>
<a class="return_btn" href="{% url 'landing' %}">Return to homepage</a>
{% endblock content %}